# Rust
target/
**/*.rs.bk
Cargo.lock
bin/
pkg/
wasm-pack.log

# API keys and secrets
.env

# Dependency directory
node_modules

# OS metadata
.DS_Store
Thumbs.db  

# Ignore build
dist

# ts build
src/**/*.js
src/**/*.d.ts

# Can't get it to autogenerate properly
!src/main/native/*.d.ts 


# Addons
*.node